# Files and directories to ignore when building the Docker image
.dockerignore
.git
db/scripts/

# Ignore data directory for the database
db/data

# Ignore build artifacts
*.log
*.zip

# Ignore editor-specific files
.vscode
.idea