# .dockerignore

# Exclude project build artifacts
bin/
obj/

# Exclude Visual Studio files
.vs/
.vscode/

# Exclude NuGet packages
**/*.nuget.config
**/*.nupkg

# Exclude user-specific settings files
*.user

# Exclude Git related files
.git/

# Exclude logs and temporary files
*.log
*.tmp

# Exclude test files
**/*.Tests/

# Exclude development and debugging files
docker-compose*
Dockerfile*
.vsdbg/
*.sln.ide

# Exclude documentation files
**/doc/
**/*.md

# Exclude other unnecessary files or directories
.idea/
node_modules/
